---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>
  <div> 
    <center> 
        <iframe src= "../../public/tim_hallatt_CV.pdf" 
                width="800"
                height="500"> 
        </iframe> 
    </center> 
  </div>
</BaseLayout>
