---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">CV</div>
  </div>
  
  <body> 
    <center> 
        <iframe src= "/CV.pdf" 
                width="1000"
                height="1200"> 
        </iframe> 
    </center> 
  </body>
</BaseLayout>
