---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">Tim Hallatt</div>
    <div class="text-3xl py-3 font-bold">Astrophysicist</div>
    <div class="py-2">
      <text class="text-lg">
        <data-driven theorist, leveraging information encoded in data to understand the underlying physical mechanisms sculpting the observations.>
        I am an astrophysicist at MIT. I focus on <b>planet formation</b> and <b>the demographics of exoplanets</b>. The goal of my work is to understand the extraordinary diversity of planetary systems in the Milky Way.
        <br><br> My science highlights <b>planetary systems at the extremes</b> to unveil the violent and high-energy processes shaping exoplanetary diversity.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="mailto:thallatt@mit.edu" target="_blank"> Let's connect!</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2"> Research </div>
  </div>

  <HorizontalCard
    title="Turning Gas Giants Inside Out"
    img="/DD_3.pdf"
    desc="Recently discovered 'desert dwellers' defy expectations by managing to survive at extremely close distances from their stars. I show that desert dwellers may be the remnants of giant planets laid bare through tidal destruction. Desert dwellers may therefore open up an unprecedented window into giant planet interiors!"
    credits=""
    url={"https://arxiv.org/abs/2509.22893"}
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Coupled Planetary Interior and Tidal Evolution"
    img="/coupled_tidal.pdf"
    desc="Planetary tidal evolution is complicated: planet structure dictates how tides operate in the planet, which in turn alter the structure and orbit. I developed a lightweight, accurate method to couple planet structure and dynamics. I used it to constrain the tidal physics operating inside hot, mid-sized planets!"
    credits=""
    url={"https://arxiv.org/abs/2509.22923"}
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Planet Formation in the Ancient Milky Way"
    img="/MW_zoom.jpg"
    desc="Exoplanet demographics shift between the two dominant stellar populations of the Milky Way. I explore how the formation environment of planets in the Galaxy has differed across cosmic time, and how that may manifest in the planet distribution around some of the oldest stars in the Milky Way. This work has been featured in the press!"
    credits=""
    url={"https://www.sciencenews.org/article/chaos-stunt-milky-way-planet-formation"}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Sculpting the sub-Saturn Period Distribution via Atmospheric Evaporation"
    img="/eva.png"
    desc="The exoplanetary orbital period distribution is a fossil record reflecting how planets form and evolve. I demonstrated that mid-sized planets' orbital period distribution can be sculpted by irradiation-driven atmospheric destruction. My theory predicts that such planets become less common around hotter stars, which has since been confirmed!"
    credits=""
    url="https://ui.adsabs.harvard.edu/abs/2022ApJ...924....9H/abstract"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Explaining the Orbital Period Distribution of Gas Giants"
    img="/Disk.jpeg"
    desc="Gas giant planet abundance grows rapidly with orbital period. I showed that this feature can be carved out if giant planets arrive at their final orbital locations via migration through their natal protoplanetary disks. Our theory predicts that the giant planet population grows more massive toward longer orbital periods."
    credits=""
    url="https://ui.adsabs.harvard.edu/abs/2020ApJ...904..134H/abstract"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="The Galactic Dynamics of Interstellar Interlopers"
    img="/1I.webp"
    desc="Interstellar asteroids and comets pass through the solar system as they orbit the Galaxy, allowing us to study extrasolar bodies in exquisite detail. But can we understand where they may originate from, by bridging planetary and Galactic dynamics?"
    credits=""
    url="https://ui.adsabs.harvard.edu/abs/2020AJ....159..147H/abstract"
  />

<!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div> -->

<!-- {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
