---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
---

<BaseLayout title="Planet Formation in the Milky Way's Thick Disk" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Protoplanetary Disk Evolution: Solar Neighborhood vs. Primordial Thick Disk</div>
    <div class="text-3xl w-full">Solar Neighborhood vs. Primordial Thick Disk</div>
  </div>
  
  <body> 
    <center> 
    <Image
      src={"/solar_neighborhood.gif"}
      width={1050}
      height={510}
      format="gif"
      alt={"Planet Formation in the Milky Way's Thick Disk"}
      style={"diplay:inline-block;"}
      align="center"
    />
    </center> 
  </body>
</BaseLayout>
