---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Planet Formation in the Milky Way's Thick Disk" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Protoplanetary Disk Evolution in the Solar Neighborhood vs. Primordial Thick Disk</div>
  </div>
  
  <body> 
    <center> 
    <Image
      src={"/thick_disk.gif"}
      width={350}
      height={170}
      format="png"
      alt={"Planet Formation in the Milky Way's Thick Disk"}
      style={"diplay:inline-block;"}
      align="left"
    />
    </center> 
  </body>
</BaseLayout>
